@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

$white : hsl(0, 0%, 100%);
$lighter-grey : hsl(0, 0%, 93%);
$light-grey : hsl(0, 0%, 87%);
$medium-grey : hsl(0, 0%, 51%);
$grey : hsl(0, 0%, 40%);
$dark : hsl(0, 0%, 6%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

body {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: $lighter-grey;
    overflow: hidden;
    user-select: none;
}

