@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

$white : hsl(0, 0%, 100%);
$lighter-grey : hsl(0, 0%, 93%);
$light-grey : hsl(0, 0%, 87%);
$medium-grey : hsl(0, 0%, 51%);
$grey : hsl(0, 0%, 40%);
$dark : hsl(0, 0%, 6%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

body {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: $lighter-grey;
    overflow: hidden;
    user-select: none;
}

.color-match {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &__color-wheel {
        width: 300px;
        height: 300px;
        aspect-ratio: 1/1;
        position: relative;
        &-picker {
            width: 300px;
            height: 300px;
            aspect-ratio: 1/1;
            cursor: crosshair;
        }
        &-preview {
            width: 150px;
            height: 150px;
            aspect-ratio: 1/1;
            position: absolute;
            top: calc(50% - 75px);
            left: calc(50% - 75px);
            border-radius: 100%;
            background-color: $light-grey;
        }
        &-hint {
            width: 120px;
            height: 120px;
            position: absolute;
            top: calc(50% - 60px);
            left: calc(50% - 60px);
            transform: rotateY(-180deg) rotateZ(-90deg);
            circle {
                fill: none;
                stroke-width: 50px;
                stroke-dasharray: 157px;
                stroke-dashoffset: 0px;
            }
            .start {
                animation: countdown 10s linear forwards;
            }
        }
    }
    &__controls {
        margin-top: 25px;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        &-label {
            color: $dark;
        }
        &-input {
            width: 100px;
            padding: 5px;
            color: $dark;
            text-transform: uppercase;
            border: solid 2px $dark;
            border-radius: 5px;
            background-color: transparent;
        }
    }
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 157px;
    }
}